# 스킬이 분석 결과로 채운다. 비밀값은 없다.
account_id    = "@@ACCOUNT_ID@@"
region        = "@@REGION@@"
name          = "@@CLUSTER_AWS@@"
service       = "@@APP@@"
repositories  = @@REPOSITORIES_HCL@@
database_name = "@@DB_NAME@@"
domain_name   = "@@DOMAIN@@"
chart_version = "@@CHART_VERSION@@"
